.hero-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.hero-line svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.hero-line .shape-fill {
    fill: #FFFFFF;
}

.hero-line .dark{
    fill: #001220;
}

.custom-shape-divider-bottom-1634567472 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1634567472 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.custom-shape-divider-bottom-1634567472 .shape-fill {
    fill: #FFFFFF;
}
.black{
    color:black
}